@inherits UmbracoViewPage


@{
    TempData["name"] = "mainNavigation";

    var siteSettings = Model.GetSiteSettings();
    if (siteSettings is null) return;
}


<!-- Header Start -->
<header class="header">
    <div class="container">
        <a class="logo" href="index.html"><img src="@siteSettings.SiteLogo?.Url()" alt=""></a>
        <div class="hdr-nav">
            <a href="javascript:void(0)" class="menu-icon">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </a>
            <div class="menu mobile-nav">
                <ul class="nav1">
                    @await Html.GetBlockGridHtmlAsync(siteSettings, "mainNavigation")
                </ul>
                <a class="btn btn-custom discover-btn" href="javascript:void(0)">Discover More</a>
            </div>
            <div class="srch-block">
                <a class="srch-btn" href="javascript:void(0)"><img src="images/srch-btn.png" alt=""></a>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->