@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!-- About NWEH Start -->
   <div class="about-nweh bg-white pt-10 pb-10">
      <div class="container">
         <div class="anout-info">
            <h2>About NWEH</h2>
            <p>We provide the pharmaceutical industry with a holistic approach to clinical trial design and delivery to
               bring treatments to market faster, through smarter, safer true-to-life clinical trials. With our
               proprietary technology, we enable novel drugs to reach the people who need them faster by safely
               accelerating drug development programs. Our transformative technologies, FARSITE and ConneXon, help you
               to discover more and deliver better, more cost-effective clinical trials, from feasibility studies to
               full clinical trial management and delivery. </p>
         </div>
         <div class="working-partner-logo text-center pt-10">
            <h2>Who we work with</h2>
            <div class="logo-slider owl-carousel">
               <div class="item"><img src="images/abbvie.png" alt=""></div>
               <div class="item"><img src="images/roche.png" alt=""></div>
               <div class="item"><img src="images/medpace.png" alt=""></div>
               <div class="item"><img src="images/novartis.png" alt=""></div>
               <div class="item"><img src="images/abbvie.png" alt=""></div>
               <div class="item"><img src="images/roche.png" alt=""></div>
               <div class="item"><img src="images/medpace.png" alt=""></div>
               <div class="item"><img src="images/novartis.png" alt=""></div>
            </div>
         </div>
      </div>
   </div>
   <!-- About NWEH End -->