@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
  <!-- Footer Start -->
   <footer class="footer bg-blue pt-10 pb-10">
      <div class="container">
         <div class="ftr-logo"><a href="index.html"><img src="images/ftr-logo.png" alt=""></a></div>
         <div class="row">
            <div class="col ftr1">
               <div class="ftr-hd">NWEH Manchester</div>
               <div class="ftr-hd m-0">NWEH</div>
               <p>2nd Floor Bright Building<br> Manchester Science Park<br> Pencroft Way<br> Manchester M15 6GZ</p>
            </div>
            <div class="col ftr2">
               <div class="ftr-hd">Get in touch</div>
               <div class="ftr-hd m-0">Call us</div>
               <p><a href="tel:01617725630" target="_blank">0161 772 5630</a></p>
            </div>
            <div class="col ftr3">
               <div class="ftr-hd">&nbsp;</div>
               <div class="ftr-hd m-0">Email us</div>
               <p><a href="mailto:hello@nweh.co.uk" target="_blank">hello@nweh.co.uk</a></p>
            </div>
            <div class="col ftr4">
               <div class="ftr-hd">Resources</div>
               <ul class="ftr-menu">
                  <li><a href="#">Case studies</a></li>
                  <li><a href="#">News & insights</a></li>
                  <li><a href="#">Publications</a></li>
               </ul>
            </div>
            <div class="col ftr5">
               <div class="ftr-hd">Company</div>
               <ul class="ftr-menu">
                  <li><a href="#">Sitemap</a></li>
                  <li><a href="#">Website ter...</a></li>
                  <li><a href="#">Cookie policy</a></li>
                  <li><a href="#">Privacy policy</a></li>
               </ul>
            </div>
         </div>
         <div class="iso-logo">
            <img src="images/iso1.png" alt="">
            <img src="images/iso2.png" alt="">
         </div>
      </div>
      <div class="ftr-border-design"></div>
   </footer>
   <!-- Footer End -->