@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
 <!-- Home Banner Start -->
   <div class="home-banner bg-blue">
      <div class="home-slider owl-carousel">
         <div class="item">
            <div class="container">
               <div class="row no-gutters">
                  <div class="col-md-6 align-items-center d-flex">
                     <div class="home-bnr-txt-inr">
                        <h1>Discover more. Deliver faster.</h1>
                        <p>Bringing treatments to market faster through smarter,<br>
                           safer, true-to-life™ clinical trials.</p>
                        <a href="javascript:void(0)" class="btn btn-custom">Discover more</a>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="img-block1">
                        <img src="images/home-bnr1.jpg" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="container">
               <div class="row no-gutters">
                  <div class="col-md-6 align-items-center d-flex">
                     <div class="home-bnr-txt-inr">
                        <h1>Discover more. Deliver faster.</h1>
                        <p>Bringing treatments to market faster through smarter,<br>
                           safer, true-to-life™ clinical trials.</p>
                        <a href="javascript:void(0)" class="btn btn-custom">Discover more</a>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="img-block1">
                        <img src="images/home-bnr1.jpg" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="item">
            <div class="container">
               <div class="row no-gutters">
                  <div class="col-md-6 align-items-center d-flex">
                     <div class="home-bnr-txt-inr">
                        <h1>Discover more. Deliver faster.</h1>
                        <p>Bringing treatments to market faster through smarter,<br>
                           safer, true-to-life™ clinical trials.</p>
                        <a href="javascript:void(0)" class="btn btn-custom">Discover more</a>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="img-block1">
                        <img src="images/home-bnr1.jpg" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Home Banner End -->