@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
  <!-- News and Insights Start -->
   <div class="news-insights-outer-block bg-white pt-10 pb-10">
      <div class="container">
         <h2>News and insights</h2>
         <div class="row">
            <div class="col-md-4">
               <div class="loop-outer news-block">
                  <div class="img-block2">
                     <img src="images/img7.png" alt="">
                     <div class="news-title">
                        <h3><a href="#">News</a></h3>
                     </div>
                  </div>
                  <div class="news-info">
                     <div class="date-block">Oct 08 2022</div>
                     <p>Prof. Martin Gibson presented with a Lifetime achievement award at GMHCRA ‘22</p>
                     <a class="btn btn-custom" href="#">Read more</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="loop-outer news-block">
                  <div class="img-block2">
                     <img src="images/img8.png" alt="">
                     <div class="news-title">
                        <h3><a href="#">News</a></h3>
                     </div>
                  </div>
                  <div class="news-info">
                     <div class="date-block">Oct 08 2022</div>
                     <p>Greater Manchester partners with industry on pioneering study to test novel cholesterol-lowering
                     </p>
                     <a class="btn btn-custom" href="#">Read more</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="loop-outer news-block insights-block">
                  <div class="img-block2">
                     <img src="images/img9.png" alt="">
                     <div class="news-title">
                        <h3><a href="#">Insights</a></h3>
                     </div>
                  </div>
                  <div class="news-info">
                     <div class="date-block">Oct 08 2022</div>
                     <p>Foresight invests £3.0 million of growth capital into global healthcare software provider NWAH
                     </p>
                     <a class="btn btn-custom" href="#">Read more</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- News and Insights End -->
