@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
 <!-- Our Technology Start -->
   <div class="our-technology bg-white pt-10 pb-10">
      <div class="container">
         <h2>Our Technology</h2>
         <div class="row text-center">
            <div class="col-md-6">
               <div class="logo-img">
                  <img src="images/farsite.png" alt="">
                  <div class="overlay-text">
                     <h3>Farsite</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                  </div>
               </div>
               <a class="btn btn-custom" href="#">Find out more</a>
            </div>
            <div class="col-md-6">
               <div class="logo-img">
                  <img src="images/connexon.png" alt="">
                  <div class="overlay-text">
                     <h3>Connexon</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                  </div>
               </div>
               <a class="btn btn-custom" href="#">Find out more</a>
            </div>
         </div>
      </div>
   </div>
   <!-- Our Technology End -->