@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
 <!-- What we do Start -->
   <div class="what-we-do pt-10 pb-10 bg-grey">
      <div class="container">
         <h2>What we do</h2>
         <div class="row">
            <div class="col-md-4">
               <div class="we-do-inr-block">
                  <img src="images/img1.png" alt="">
                  <div class="txt-block2">
                     <h3>Feasibility</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                     <a class="btn btn-custom" href="#">Find out more</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="we-do-inr-block">
                  <img src="images/img2.png" alt="">
                  <div class="txt-block2">
                     <h3>Trial design</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                     <a class="btn btn-custom" href="#">Find out more</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="we-do-inr-block">
                  <img src="images/img3.png" alt="">
                  <div class="txt-block2">
                     <h3>Clinical delivery</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                     <a class="btn btn-custom" href="#">Find out more</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="we-do-inr-block">
                  <img src="images/img4.png" alt="">
                  <div class="txt-block2">
                     <h3>Data analysis</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                     <a class="btn btn-custom" href="#">Find out more</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="we-do-inr-block">
                  <img src="images/img5.png" alt="">
                  <div class="txt-block2">
                     <h3>Near real-time monitoring</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                     <a class="btn btn-custom" href="#">Find out more</a>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="we-do-inr-block">
                  <img src="images/img6.png" alt="">
                  <div class="txt-block2">
                     <h3>Consultancy</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                     <a class="btn btn-custom" href="#">Find out more</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- What we do End -->